{
  "extends": ["airbnb", "../.eslintrc", "plugin:react-hooks/recommended"],

  "parserOptions": {
    "project": ["./tsconfig.json", "./tsconfig.eslint.json"]
  },

  "rules": {
    "no-use-before-define": "off",

    /// TypeScript
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-var-requires": "off",

    /// React
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",

    /// React hooks
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",

    /// jsx-a11y
    "jsx-a11y/label-has-associated-control": "off",

    /// Import
    "import/no-named-as-default": "off",
    "import/newline-after-import": "warn",
    "import/order": [
      "warn",
      {
        "groups": ["unknown", ["external", "builtin"], "internal", ["sibling", "parent", "index"]],
        "pathGroups": [
          {
            "pattern": "pages/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "containers/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "components/**",
            "group": "internal",
            "position": "after"
          }
        ],
        "newlines-between": "always"
      }
    ],
    "import/prefer-default-export": "off",
    "import/extensions": ["warn", "never"],
    "import/no-extraneous-dependencies": [
      "warn",
      {
        "devDependencies": [
          "**/*.test.ts",
          "**/*.spec.ts",
          "**/*.test.tsx",
          "**/*.spec.tsx",
          "**/*.setup.js",
          "**/*.config.js",
          "**/*.stories.tsx"
        ]
      }
    ]
  },

  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },

  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },

  "ignorePatterns": "build/"
}
