{
  "extends": ["airbnb", "../.eslintrc", "plugin:react-hooks/recommended"],

  "parserOptions": {
    "project": "./tsconfig.json"
  },

  "rules": {
    "no-use-before-define": "off",

    /// TypeScript
    "@typescript-eslint/no-use-before-define": "error",

    /// React
    "react/jsx-filename-extension": "off",

    /// React hooks
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",

    /// Import
    "import/no-named-as-default": "off",
    "import/newline-after-import": "warn",
    "import/order": [
      "warn",
      {
        "groups": [["unknown", "index"], "external", "internal", "sibling"],
        "pathGroups": [
          {
            "pattern": "components/**",
            "group": "internal",
            "position": "after"
          }
        ],
        "newlines-between": "always"
      }
    ],
    "import/prefer-default-export": "off",
    "import/extensions": ["warn", "never"]
  },

  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },

  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  }
}
