{
  "extends": ["plugin:@typescript-eslint/recommended", "plugin:prettier/recommended", "plugin:import/typescript"],

  "parser": "@typescript-eslint/parser",

  "rules": {
    "no-shadow": "warn",
    "no-unused-vars": ["error", { "varsIgnorePattern": "^_", "argsIgnorePattern": "^_", "ignoreRestSiblings": true }],
    "no-empty": ["warn", { "allowEmptyCatch": true }],
    "no-plusplus": "off",
    "no-nested-ternary": "warn",
    "no-case-declarations": "warn",
    "no-continue": "off",
    "no-underscore-dangle": "off",
    "max-classes-per-file": "off",
    "camelcase": [
      "error",
      {
        "properties": "never",
        "ignoreDestructuring": true
      }
    ],
    "consistent-return": "warn",
    "padding-line-between-statements": [
      "warn",
      { "blankLine": "always", "prev": "block-like", "next": "*" },
      { "blankLine": "always", "prev": "*", "next": "return" }
    ],

    /// TypeScript
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/consistent-type-definitions": ["warn", "type"],
    "@typescript-eslint/prefer-reduce-type-parameter": "warn"
  }
}
