{
  "env": {
    "development": {
      "sourceMaps": "inline",
      "retainLines": true
    }
  },
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "extensions": [".js", ".ts"],
        "root": ["./src/"]
      }
    ]
  ]
}
